{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center bg-styles log-wrap">
    <h1 class="text-center title">{% trans "Password Reset Successful" %}</h1>
    <p class="text-center">{% trans "Your password has been successfully reset. You can now log in with your new password." %}</p>
    <a href="{% url 'account_login' %}" class="btn btn-primary mt-3 btn-styles">{% trans "Return to Login" %}</a>
</div>
{% endblock %}
