{% extends "base.html" %}

{% block content %}
<div class="container mt-5 bg-styles">
    <h1 class="text-center pt-3 mb-2 title">Welcome to your Listings Page {{ username }}</h1>
    <!-- Search content and reset button -->
    <form method="get" class="row g-3 mt-3 mx-auto text-center" style="max-width: 600px;">
        <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Search caravans..." name="search" value="{{ request.GET.search }}">
        </div>
        <div class="col-md-4 mt-2 mb-1 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary btn-styles">Search</button>
            <a href="{% url 'listings' %}" class="btn btn-secondary btn-styles ml-auto">Reset</a>
        </div>
    </form>
    <!-- Toggle filters -->
    <div class="text-center mb-2 mt-1">
        <button id="toggle-filters" class="btn btn-info btn-styles">Filters</button>
    </div> 
    <!-- Filter section -->
    <div class="text-center mb-4" id="filter-container" style="display: none;">
        <form method="get" class="row g-3 pb-3 mx-auto text-center" style="max-width: 800px;">
            <!-- Berth filter -->
            <div class="col-md-3">
                <select name="berth" class="form-select">
                    <option value="">Filter by berth</option>
                    <option value="2" {% if request.GET.berth == '2' %}selected{% endif %}>Two</option>
                    <option value="4" {% if request.GET.berth == '4' %}selected{% endif %}>Four</option>
                    <option value="6" {% if request.GET.berth == '6' %}selected{% endif %}>Six</option>
                </select>
            </div>
            <!-- Location filter -->
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Location" name="location" value="{{ request.GET.location }}">
            </div>
            <!-- Price range -->
            <div class="col-md-3">
                <input type="number" class="form-control" placeholder="Min Price" name="min_price" value="{{ request.GET.min_price }}">
            </div>
            <!-- Date filters -->
            <div class="col-md-3">
                <input type="number" class="form-control" placeholder="Max Price" name="max_price" value="{{ request.GET.max_price }}">
            </div>
            <div class="col-md-6">
                <input type="date" class="form-control" placeholder="Available From" name="available_from" value="{{ request.GET.available_from }}">
            </div>
            <div class="col-md-6">
                <input type="date" class="form-control" placeholder="Available To" name="available_to" value="{{ request.GET.available_to }}">
            </div>
            <!-- Amenities multi-select -->
            <div class="col-md-12">
                <label for="amenities">Select Amenities:</label>
                <select class="form-select" name="amenities" multiple>
                    {% for amenity in amenities %}
                        <option value="{{ amenity.id }}" {% if amenity.id|stringformat:"s" in selected_amenities %}selected{% endif %}>
                            {{ amenity.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3 btn-styles">Apply Filters</button>
            </div>
        </form>
    </div>
    <!-- Check if there are any caravans -->
    {% if caravans %}
        <ul class="list-group">
            {% for caravan in caravans %}
                <li class="list-group-item mb-3">
                    <h2>{{ caravan.title }}</h2>
                    {% if user_type == "customer" %}
                        <!-- Favourites icon -->
                        <i class="fa fa-star favourite-icon {% if caravan.is_favourite %}favourite{% endif %} text-center" data-caravan-id="{{ caravan.pk }}"></i>
                        <span class="ms-2">Click to add to favourites</span>
                    {% endif %}
                    <!-- Carousel for multiple images -->
                    <div id="carousel{{ caravan.pk }}" class="carousel slide">
                        <div class="carousel-inner">
                            {% for image in caravan.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" class="d-block w-100 img-thumbnail" alt="{{ caravan.title }}">
                                    <div class="position-absolute top-50 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#imageModal"  data-bs-image-url="{{ image.image.url }}" data-bs-carousel-id="carousel{{ caravan.pk }}">
                                        <i class="fa-solid fa-up-right-and-down-left-from-center fa-2x text-white"></i>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ caravan.pk }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ caravan.pk }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p>{{ caravan.description }}</p>
                    <p><strong>Berth:</strong> {{ caravan.get_berth_display }}</p>
                    <p><strong>Location:</strong> {{ caravan.location }}</p>
                    <p><strong>Price per night:</strong> ${{ caravan.price_per_night }}</p>
                    <p><strong>Amenities:</strong>
                        {% for amenity in caravan.amenities.all %}
                            {{ amenity.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>Available Dates:</strong>
                        {% for availability in caravan.availabilities.all %}
                            {{ availability.start_date }} to {{ availability.end_date }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <!-- Reviews Section -->
                    {% if caravan.reviews.all|length > 0 %}
                        <h3 class="text-center title">Reviews</h3>
                        <div class="border p-3 mb-3">
                            {% for review in caravan.reviews.all %}
                            {% if review.approved %}
                            <div class="review mb-3 p-3">
                                <p><strong>{{ review.customer.username }}</strong> rated {{ review.rating }}/5</p>
                                <p>{{ review.comment }}</p>
                                {% if review.reply %}
                                <p><strong>Owner's Reply:</strong> {{ review.reply }}</p>
                                {% endif %}
                                {% if user_type == "owner" %}
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary mb-2 btn-styles" data-bs-toggle="modal" data-bs-target="#replyModal{{ review.pk }}" data-review-id="{{ review.pk }}">
                                         Reply
                                        </button>
                                        <button type="button" class="btn btn-warning btn-styles" data-bs-toggle="modal" data-bs-target="#editReplyModal{{ review.pk }}" data-review-id="{{ review.pk }}">
                                            Edit Reply
                                        </button>
                                        <button type="button" class="btn btn-danger btn-styles mt-2 delete-reply-btn" data-url="{% url 'delete_reply' review.pk %}">
                                            Delete Reply
                                        </button>
                                    </div>
                                    <!-- Reply Modal -->
                                    <div class="modal fade" id="replyModal{{ review.pk }}" tabindex="-1" aria-labelledby="replyModalLabel{{ review.pk }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="replyModalLabel{{ review.pk }}">Reply to Review</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post" action="{% url 'submit_review' review.pk %}">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="reply" class="form-label">Reply</label>
                                                            <textarea class="form-control" id="reply" name="reply" rows="3" required></textarea>
                                                        </div>
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-primary btn-styles">Submit Reply</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Edit Reply Modal -->
                                <div class="modal fade" id="editReplyModal{{ review.pk }}" tabindex="-1" aria-labelledby="editReplyModalLabel{{ review.pk }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editReplyModalLabel{{ review.pk }}">Edit Reply</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="{% url 'edit_reply' review.pk %}">
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label for="reply" class="form-label">Reply</label>
                                                        <textarea class="form-control" id="reply" name="reply" rows="3" required>{{ review.reply }}</textarea>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-primary btn-styles">Submit Reply</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                        {% if user_type == "customer" %}
                            <button type="button" class="btn btn-warning btn-styles" data-bs-toggle="modal" data-bs-target="#editReviewModal{{ review.pk }}" data-review-id="{{ review.pk }}">
                                Edit Review
                            </button>
                            <button type="button" class="btn btn-danger btn-styles delete-review-btn" data-review-id="{{ review.pk }}">
                                Delete Review
                            </button>
                            <!-- Edit Review Modal -->
                            <div class="modal fade" id="editReviewModal{{ review.pk }}" tabindex="-1" aria-labelledby="editReviewModalLabel{{ review.pk }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editReviewModalLabel{{ review.pk }}">Edit Review</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'edit_review' review.pk %}">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="rating" class="form-label">Rating</label>
                                                    <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" value="{{ review.rating }}" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="comment" class="form-label">Comment</label>
                                                    <textarea class="form-control" id="comment" name="comment" rows="3" required>{{ review.comment }}</textarea>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary btn-styles">Submit Review</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if user_type == "customer" %}
                        <div class="text-center">
                            <button type="button" class="btn btn-primary btn-styles" data-bs-toggle="modal" data-bs-target="#submitReviewModal{{ caravan.pk }}" data-caravan-id="{{ caravan.pk }}">
                                Leave a Review
                            </button>
                        </div>
                        {% endif %}
                        <!-- Approve Reviews -->
                        {% if user_type == "owner" %}
                        {% if caravan.reviews.all|length > 0 %}
                        <h3 class="title text-center">Pending Reviews</h3>
                        {% for review in caravan.reviews.all %}
                        {% if not review.approved %}
                        <div class="review">
                            <p><strong>{{ review.customer.username }}</strong> rated {{ review.rating }}/5</p>
                            <p>{{ review.comment }}</p>
                            <a href="{% url 'approve_review' review.pk %}" class="btn btn-success btn-styles">Approve</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        <!-- Review Modal -->
                        <div class="modal fade" id="submitReviewModal{{ caravan.pk }}" tabindex="-1" aria-labelledby="submitReviewModalLabel{{ caravan.pk }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="submitReviewModalLabel{{ caravan.pk }}">Leave a Review for {{ caravan.title }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'submit_review' caravan.pk %}">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="rating" class="form-label">Rating</label>
                                                <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="comment" class="form-label">Comment</label>
                                                <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-styles">Submit Review</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <!-- Buttons for Owners -->
                    {% if user_type == "owner" %}
                        <div class="row mt-3">
                            <div class="col-auto">
                                <a href="{% url 'edit_caravan' caravan.pk %}" class="btn btn-warning btn-styles">Edit</a>
                            </div>
                            <div class="col text-end">
                                <form method="post" action="{% url 'delete_caravan' caravan.pk %}" id="delete-button">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-styles">Delete</button>
                                </form>
                            </div>
                        </div>
                    {% elif user_type == "customer" %}
                        <div class="text-center mt-3">
                            {% if caravan.is_available %}
                                <a href="{% url 'book_caravan' caravan.id %}" class="btn btn-success btn-styles book-now-btn" data-caravan-id="{{ caravan.id }}">Book Now</a>
                            {% else %}
                                <button class="btn btn-secondary btn-styles" disabled>Not Available</button>
                            {% endif %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-center">No caravans available</p>
    {% endif %}
    <!-- Add Caravan Button for Owners -->
    {% if user_type == "owner" %}
    <div class="text-center mt-4">
        <a href="{% url 'add_caravan' %}" class="btn btn-primary btn-styles mb-4">Add Caravan</a>
    </div>
    {% endif %}
</div>
<!-- Modal for Enlarging Images -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title text-center" id="imageModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalCarousel" class="carousel slide">
                    <div class="carousel-inner" id="modalCarouselInner">
                    <!-- Carousel items will be dynamically inserted here -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#modalCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#modalCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}