{% extends "base.html" %}

{% block content %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-styles">
    <h1 class="text-center mb-1 mt-5 title">Welcome to your Dashboard</h1>
    {% if user_type == 'superuser' %}
    <h1 class="text-center mb-4 title">Superuser!</h1>
    <p>To manage the site go to admin page:
        <a href="{{ admin_url }}" class="btn btn-primary w-100 mt-3 btn-styles">Here</a>
    </p>
</div>
{% elif user_type == 'customer' %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-styles dashboard-style">
    <h1 class="text-center mb-4 title">{{ username }}!</h1>
    
    <div class="row w-100">
        <!-- Upcoming stays section -->
        <div class="col-md-4">
            <div class="card mb-4 text-white">
                <div class="card-header">
                    <h2 class="title card-title">Upcoming stays</h2>
                </div>
                <div class="card-body">
                    <p>View and manage your upcoming bookings.</p>
                    <ul class="list-group">
                        {% for stay in upcoming_stays %}
                            <li class="list-group-item">
                                <a href="{% url 'booking_view' stay.caravan.id %}">
                                    <strong>{{ stay.caravan.title }}</strong><br>
                                    <small>{{ stay.start_date }} to {{ stay.end_date }}</small>
                                </a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No upcoming stays</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Favourites section -->
        <div class="col-md-4">
            <div class="card mb-4 text-white">
                <div class="card-header">
                    <h2 class="card-title title">Favourites</h2>
                </div>
                <div class="card-body">
                    <p>View your Favourites caravans.</p>
                    <ul class="list-group">
                        {% for item in favourites %}
                            <li class="list-group-item">{{ item }}</li>
                        {% empty %}
                            <li class="list-group-item">No items in your favourites</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Previous stays section -->
        <div class="col-md-4">
            <div class="card mb-4 text-white">
                <div class="card-header">
                    <h2 class="card-title title">Previous stays</h2>
                </div>
                <div class="card-body">
                    <p>View your previous stays.</p>
                    <ul class="list-group">
                        {% for stay in previous_stays %}
                            <li class="list-group-item">
                                <a href="{% url 'booking_view' stay.caravan.id %}">
                                    <strong>{{ stay.caravan.title }}</strong><br>
                                    <small>{{ stay.start_date }} to {{ stay.end_date }}</small>
                                </a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No previous stays</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif user_type == 'owner' %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-styles dashboard-style">
    <h1 class="text-center mb-4 title">{{ username }}!</h1>
    <div class="row w-100">
        <!-- Booking request section -->
        <div class="col-md-4">
            <div class="card mb-4 text-white">
                <div class="card-header">
                    <h2 class="card-title title">Booking requests</h2>
                </div>
                <div class="card-body">
                    <p>View and manage requests from customers.</p>
                    <ul class="list-group">
                        {% for request in requests %}
                            <li class="list-group-item">
                                <a href="{% url 'booking_view' request.caravan.id %}">
                                    <strong>{{ request.caravan.title }}</strong><br>
                                    <small>{{ request.customer.username }}</small> requested from
                                    {{ request.start_date }} to {{ request.end_date }}
                                </a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No current requests</li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>
        </div>
        <!-- Own caravan listing section -->
        <div class="col-md-4">
            <div class="card mb-4 text-white">
                <div class="card-header">
                    <h2 class="card-title title">Your caravans</h2>
                </div>
                <div class="card-body">
                    <p>View and manage your caravan listings.</p>
                    <ul class="list-group">
                        <strong>Current caravan names:</strong>
                        {% for caravan in caravans %}
                            <li class="list-group-item">{{ caravan.title }}</li>
                        {% empty %}
                            <li class="list-group-item">No caravans listed</li>
                        {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{% url 'listings' %}" class="btn btn-primary mt-3 btn-styles">View All Listings</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review section -->
        <div class="col-md-4">
            <div class="card mb-4 text-white">
                <div class="card-header">
                    <h2 class="card-title title">Reviews</h2>
                </div>
                <div class="card-body">
                    <p>Check reviews from customers.</p>
                    <ul class="list-group">
                        {% for review in reviews %}
                            <li class="list-group-item">{{ review }}</li>
                        {% empty %}
                            <li class="list-group-item">No reviews</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}