{% extends 'base.html' %}

{% block content %}
<div class="slideshow-container">
    <div class="content-wrapper">
        <div class="container text-center py-5">
            <div class="col-md-6">
                <h1 class="display-4 fw-bold text-white title">Welcome to Nomad Nation</h1>
                <p class="lead secondary-text text-white">Your trusted platform for finding and renting the perfect caravan for your adventure</p>
            </div>
            <!-- About section -->
            <div class="about text-center mb-5">
                <h2 class="mb-4 text-white">What we do</h2>
                <p class="fs-5 text-white">
                    At Nomad Nation, we connect caravan owners with travelers looking for unique holiday experiences. Whether you're a caravan owner looking to earn extra income or a traveler seeking a hassle-free holiday, we've got you covered.
                </p>
            </div>
            <!-- Features section -->
            <div class="container text py-5">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-white border-0 shadow h-100">
                            <div class="card-body">
                                <i class="fa-solid fa-check fa-2x mb-3"></i>
                                <h3 class="card-title">Reliable Rentals</h3>
                                <p class="card-text">All rentals are verified to ensure your safety and satisfaction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-white border-0 shadow h-100">
                            <div class="card-body">
                                <i class="fa-solid fa-users fa-2x mb-3"></i>
                                <h3 class="card-title">Community-Driven</h3>
                                <p class="card-text">Join a growing community of caravan enthusiasts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card bg-dark text-white border-0 shadow h-100">
                            <div class="card-body">
                                <i class="fa-solid fa-credit-card fa-2x mb-3"></i>
                                <h3 class="card-title">Secure Payments</h3>
                                <p class="card-text">Easy and secure booking for peace of mind.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}